{% extends 'core/base.html' %}
{% block title %} change-password {% endblock title %}

{% block contain %}
<section class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-sm-5">
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}}
                {{fm}}
                <small class="text-danger">{{fm.errors|striptags}}</small>

                
                {% endfor %} 
                <input type="submit" value="Change password" class ='btn btn-primary my-2'>
   
            </form>
        </div>
    </div>

</section>


{% endblock contain %}

